.popUp{
  &__send{
    border: none;
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    display: block;
    cursor: pointer;
    background: linear-gradient(70deg, blue, pink);
    color: white;
  }
}