.Auth{
  .popUp{
    width: 30rem;
    margin: 3rem auto 0 auto;
  }
  .login{
    &__title{
      text-align: center;
    }
    &__text{
      text-align: center;
      margin-top: 1.25rem;
    }
  }
}