.Auth{
  .popUp{
    width: 30rem;
    padding: 1rem 1.25rem;
    margin: 3rem auto 0 auto;
    &__send{
      margin-top: 1.25rem;
      padding: 0.25rem 1.25rem;
    }
  }
  .registration{
    &__title{
      text-align: center;
    }
    &__name{
      display: flex;
      justify-content: space-between;
    }
    &__phoneDate{
      display: flex;
      justify-content: space-between;
    }
    &__toLogin{
      margin-top: 1.25rem;
      text-align: center;
    }
  }
  .login{
    &__title{
      text-align: center;
    }
    &__text{
      text-align: center;
      margin-top: 1.25rem;
    }
  }
}