.SliderSomeItems {
  margin-top: 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  .prevSlide{
    cursor: pointer;
    border: none;
    display: flex;
    padding: 1rem 1.3rem;
    border-radius: 50px;
    left: 1.5rem;
    position: absolute;
    z-index: 1;
    &__img{
      align-self: center;
    }
  }
  .nextSlide{
    cursor: pointer;
    border: none;
    display: flex;
    padding: 1rem 1.3rem;
    border-radius: 50px;
    right: 1.5rem;
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
    &__img{
      align-self: center;
    }
  }
  &__img {
    width: 100%;
    transition: all 0.8s;
    margin-bottom: 2rem;
    .slider__imgNew{
    }
  }
  &__img-prev {
    margin-left: 6%;
    transform: translateX(-15%);
    /*animation: nextSlide 0.5s ease-in-out;*/
  }
  &__img-prevDouble{
    position: absolute;
    transform: translateX(-120%);
  }

  &__img-current{
    margin-left: 15%;
    transform: translateX(-20%);
    /*animation: nextSlide 0.5s ease-in-out;*/
  }
  &__img-next {
    margin-left: 6%;
    transform: translateX(15%);
    /*animation: nextSlide 0.5s ease-in-out;*/
  }
  &__img-nextDouble{
    z-index: -10;
    /*display: none;*/
    opacity: 0;
    position: absolute;
    transform: translateX(120%);
  }
  &-crumbs{
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    &__item{
      margin-right: 10px;
      display: block;
      width: 10px;
      border-radius: 50px;
      height: 10px;
      background: #A8A8A8;
      cursor: pointer;

      &_active{
        width: 15px;
        height: 15px;
      }
    }
  }
  @keyframes prevSlide {
    from{
      transform: translateX(-20%);
    }
    to{
      transform: translateX(0%);
    }
  }
  @keyframes nextSlide {
    from{
      transform: translateX(20%);
    }
    to{
      transform: translateX(0%);
    }
  }
  @media (min-width: 1280px) and (max-width: 1439px){
    &__img {
      .slider__imgNew{
        max-width: 300px;
      }
    }
    &__img-current{
      margin-left: 38%;
    }
    &__img-next {
      margin-left: 54.5%;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px){
    &__img {
      .slider__imgNew{
        max-width: 300px;
      }
    }
    &__img-current{
      margin-left: 33.7%;
    }
    &__img-next {
      margin-left: 47.5%;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px){
    height: 160px;
    margin-top: 30px;
    &__img {
      .slider__imgNew{
        max-width: 200px;
      }
    }
    &__img-current{
      margin-left: 36%;
    }
    &__img-next {
      margin-left: 51.5%;
    }
    .crumbs {
      left: 43%;
    }
  }
  @media (min-width: 560px) and (max-width: 767px){
    height: 160px;
    margin-top: 20px;
    &__img {
      .slider__imgNew{
        max-width: 165px;
      }
    }
    &__img-current{
      margin-left: 34.3%;
    }
    &__img-next {
      margin-left: 48.5%;
    }
    .crumbs {
      left: 43%;
    }
  }
  @media (min-width: 320px) and (max-width: 559px){
    height: 140px;
    margin-top: 20px;
    &__img {
      .slider__imgNew{
        max-width: 165px;
      }
    }
    &__img-current{
      margin-left: 54.3%;
    }
    &__img-next {
      margin-left: 83.5%;
    }
    .crumbs {
      left: 36%;
    }
  }
}